
.bg-light{
	background-color: rgba(228, 103, 179, 0.98) !important;
}
.navbar{
	height: 70px;
}
.container-fluid{
	align-items: flex-start!important;
}
.flex-column {
	flex-direction: column;
}
.flex-row{
	display: flex;
	flex-direction: row;
}
.navbar-flex-space{
	justify-content: space-between;
}
.btn-yellow{
	background-color: #FFFD73;
	margin-left: 20%;
}
.btn-warning{
	background-color: #FFFD73;
}
.nav-flex{
	display: flex;
	
}
.navbar-nav{
	margin-left: 2rem;
}
.menu-flex{
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}
.navbar-brand > span{
	color: #FFFD73;
}
.nav-link{
	border: 2px solid #FFFD73;
	padding-right: 1rem!important;
	padding-left: 1rem!important;
	border-collapse: collapse;
}
.navbar-brand{
	color: white!important;
	font-weight: bold;
}
.navbar-collapse{
	display: flex;
	justify-content: space-between;
}
.marginleft{
	margin-left: 40%;
}
.calendar{
	background-color: #FFFD73;
}
.section-1{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin-bottom: 2rem;
	margin-top: 70px;
	width: 100%;
	background: url("images/photo1.jpg") center 0 no-repeat;
	background-repeat: no-repeat;
    background-position: 50% 60%;
    height: 20%;
}
.hotel-title{
	padding-top: 2rem;
	padding-left: 1rem;
	font-size: 2rem;
	font-weight: 750;
}
.section-2{
	padding-bottom: 3rem;
	padding-left: 2rem;
	padding-right: 2rem;
}
.information{
	text-align: center;
}
.info{
	text-align: center;
	padding-bottom: 1.5rem;
}
.reserved{
	padding: 2rem;
	padding-bottom:1rem;
	font-size: 1.3rem;
}
.top-filters{
	display: flex;
	color: white;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 2rem;
	background-color: rgba( 0, 0, 0, 0.5);
}
.parametrs{
	padding: 1rem;
}
.forms{
	padding: 3rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.date{
	margin-top: 2rem;
	margin-bottom:0.5rem;
}
.filters{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba( 0, 0, 0, 0.5);
	border-radius: 5%;
}
.btn-warning{
	margin-top: 1rem;
}
.svg-about{
	height: 1.3rem;
	width: 1.3rem;
	color: #856FD7;
	margin-right: 1.5rem;
	margin-bottom: 5px;
}
.usl-flex-row-1{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.room-info{
	display: flex;
	flex-direction: column;
	font-size: 20px;
}
.card-title{
	margin-bottom: 1rem;
	font-weight: 750;
}
.room-dot{
	color: #856FD7;
	width: 30px;
	height: 30px;
}
.btn-info{
	color: white;
	background-color: #856FD7;
	border-color: #856FD7;
	width: 40%;
	margin: 1rem;
	margin-left:auto;
	margin-right: auto;
}

.fl{
	width: 20%;
	display: flex;
    flex-direction: column;
    align-items: center;
}
.f2-flex-row{
	display: flex;
	margin-bottom: 2rem;
}
.pink-background{
	background-color: #e467b3;
	padding-bottom: 0.5rem;
}
.fl> h1 > a{
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 3rem;
	color: white;
}
.fl >h1> a > span{
	color:#FFFD73;
}
.flex-footer{
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;
	padding-bottom: 0.5rem;
	align-items: center;
}
.f2 a{
	font-size: 1.2rem;
    text-transform: uppercase;
	padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
	text-decoration: none;
}
.f3{
	width: 20%;
	color: white;
}
.f2-flex-row p{
	font-size: 20px;
}
.photo-size{
	width: 200px;
	height: 100px;
}
.size-phone{
	width: 2rem;
	height: 2rem;
	color: #FFFD73;
	margin-right: 1rem;
}