
.bg-light{
	background-color: rgba(228, 103, 179, 0.98) !important;
}
.navbar{
	height: 70px;
}
.container-fluid{
	align-items: flex-start!important;
}
.flex-column {
	flex-direction: column;
}
.flex-row{
	display: flex;
	flex-direction: row;
}
.navbar-flex-space{
	justify-content: space-between;
}
.btn-yellow{
	background-color: #FFFD73;
	margin-left: 20%;
}
.nav-flex{
	display: flex;
	
}
.navbar-nav{
	margin-left: 2rem;
}
.menu-flex{
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}
.navbar-brand > span{
	color: #FFFD73;
}
.nav-link{
	border: 2px solid #FFFD73;
	padding-right: 1rem!important;
	padding-left: 1rem!important;
	border-collapse: collapse;
}
.navbar-brand{
	color: white!important;
	font-weight: bold;
}
.navbar-collapse{
	display: flex;
	justify-content: space-between;
}
.marginleft{
	margin-left: 40%;
}
.calendar{
	background-color: #FFFD73;
}
.section-1{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin-bottom: 2rem;
	margin-top: 70px;
	width: 100%;
	background: url("images/photo1.jpg") center 0 no-repeat;
	background-repeat: no-repeat;
    background-position: 50% 60%;
    height: 20%;
}
.reserved{
	padding: 2rem;
	padding-bottom:1rem;
}
.top-filters{
	display: flex;
	color: white;
	flex-direction: row;
	justify-content: space-between;
	padding: 2rem;
	background-color: rgba( 0, 0, 0, 0.4);
}
.parametrs{
	padding: 1rem;
}
.forms{
	padding: 3rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.date{
	margin-top: 2rem;
	margin-bottom:0.5rem;
}
.filters{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.btn-warning{
	margin-top: 1rem;
}
